<dialog open class ="modal">
        <label for="LastName">LastName: </label>
        <input id="LastName" type="text" [formControl]="lastName">

        <label for="Firstname">Firstname: </label>
        <input id="Firstname" type="text" [formControl]="firstname">

        <label for="Username">Username: </label>
        <input id="Username" type="text" [formControl]="username">

        <label for="Email">Email: </label>
        <input id="Email" type="text" [formControl]="email">
    <hr>
        <button>Save</button>
        <button (click)="closeDialog()" >Cancel</button>
</dialog>