<h2>Home Page</h2>
<button  (click)="showDialog()">Add User</button>

<table style="width:100%;">
    <tr>
        <th>Id</th>
        <th>LastName</th>
        <th>Firstname</th>
        <th>Username</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    <ng-container *ngFor="let user of users; index as i" >
        <tr>
            <td> {{ i+1 }} </td>
            <td> {{ user.lastName }} </td>
            <td> {{ user.firstName }} </td>
            <td> {{ user.userName }} </td>
            <td> {{ user.email }} </td>
            <td class="actions">
                <button>See</button>
                <button>Edit</button>
                <button (click)="handleDelete(user)">Delete</button>
            </td>
        </tr>
    </ng-container>
    <ng-container *ngIf="users.length === 0">
        Loading...
    </ng-container>
</table>

<app-users-editor *ngIf="visible" (visibleRequest)="visibleReq($event)"></app-users-editor>